In [1]:
import pandas as pd

In [2]:
s1=pd.Series(['A','B','C'])

In [3]:
s1

0    A
1    B
2    C
dtype: object

In [4]:
s2=pd.Series(['D','E','F'])

In [5]:
s2

0    D
1    E
2    F
dtype: object

In [6]:
s1=pd.Series(['A','B','C'],index=[1,2,3])

In [7]:
s2=pd.Series(['D','E','F'],index=[4,5,6])

In [8]:
s1

1    A
2    B
3    C
dtype: object

In [9]:
s2

4    D
5    E
6    F
dtype: object

In [10]:
pd.concat([s1,s2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

# Append

In [11]:
import pandas as pd

In [12]:
users_df = pd.DataFrame({
    'UserID': [1, 2, 3],
    'UserName': ['Alice', 'Bob', 'Charlie']
})

In [13]:
new_book_1 = {'Title': 'The Catcher in the Rye', 'Author': 'J.D. Salinger'}
new_book_2 = {'Title': 'The Hobbit', 'Author': 'J.R.R. Tolkien'}

In [14]:
one_to_one_joined_df = pd.merge(users_df, emails_df)

one_to_one_joined_df

NameError: name 'emails_df' is not defined

In [15]:
users_df = pd.DataFrame({
    'UserID': [1, 2, 3],
    'UserName': ['Alice', 'Bob', 'Charlie']
})

In [16]:
emails_df = pd.DataFrame({
    'UserID': [2, 3, 1],
    'Email': ['bob@example.com', 'charlie@example.com', 'alice@example.com']
})

In [17]:
one_to_one_joined_df = pd.merge(users_df, emails_df)

one_to_one_joined_df

   UserID UserName                Email
0       1    Alice    alice@example.com
1       2      Bob      bob@example.com
2       3  Charlie  charlie@example.com